:root {
    --font: "Shadows Into Light", cursive;
    --maincolor: #F08C7F;
}

/*header*/
header {
    width: 100%;
    height: 70px;
}
/*light and dark switch*/
#lightDarkIcon {
    float: right;
    width: 50px;
    margin: 10px;
}

body {
    background-color: #fdf8ff;
}

#background {
    background-image: url(../Images/Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*main content*/
main {
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Footer Style */
footer {
    min-height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-portfolio {
    font-family: var(--font);
    color: var(--maincolor);
    font-size: 30px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 32px;
}

.my-portfolio:hover {
    background-color: aqua;
}
